<head>

  <meta charset="utf-8">

  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0, minimal-ui">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@rojcyk">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content= "">

  <meta property="og:title" content="">
  <meta property="og:type" content="article">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <link rel="stylesheet/less" type="text/css" href="assets/less/style.less" />

  <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="assets/js/script.js"></script>

  <title></title>

</head>